## 練習時間
資料的操作有很多，接下來的馬拉松中我們會介紹常被使用到的操作，參加者不妨先自行想像一下，第一次看到資料，我們一般會想知道什麼訊息？

#### Ex: 如何知道資料的 row 數以及 column 數、有什麼欄位、多少欄位、如何截取部分的資料等等

有了對資料的好奇之後，我們又怎麼通過程式碼來達成我們的目的呢？

#### 可參考該[基礎教材](https://bookdata.readthedocs.io/en/latest/base/01_pandas.html#DataFrame-%E5%85%A5%E9%97%A8)或自行 google

# [作業目標]
- 熟悉更多的 Python 資料操作

# [作業重點]
- 列出資料的大小 (In[4], Hint : shape)
- 列出所有欄位 (In[5], 有多種寫法)
- 擷取部分資料 (In[6], Hint : loc 或 iloc)

In [1]:
import os
import numpy as np
import pandas as pd

In [2]:
# 設定 data_path
dir_data = './d4_dataset/Part01/'

In [3]:
f_app = os.path.join(dir_data, 'application_train.csv')
print('Path of read in data: %s' % (f_app))
app_train = pd.read_csv(f_app)

Path of read in data: ./d4_dataset/Part01/application_train.csv

### 如果沒有想法，可以先嘗試找出剛剛例子中提到的問題的答案
#### 資料的 row 數以及 column 數

In [5]:
print('rows: {}'.format(app_train.shape[0]))
print('columns: {}'.format(app_train.shape[1]))

rows: 307511
columns: 122

#### 列出所有欄位

In [7]:
i = 0                             # column從0開始
for column in app_train.columns:
    print('column {}: {}'.format(i, column))
    i += 1

column 0: SK_ID_CURR
column 1: TARGET
column 2: NAME_CONTRACT_TYPE
column 3: CODE_GENDER
column 4: FLAG_OWN_CAR
column 5: FLAG_OWN_REALTY
column 6: CNT_CHILDREN
column 7: AMT_INCOME_TOTAL
column 8: AMT_CREDIT
column 9: AMT_ANNUITY
column 10: AMT_GOODS_PRICE
column 11: NAME_TYPE_SUITE
column 12: NAME_INCOME_TYPE
column 13: NAME_EDUCATION_TYPE
column 14: NAME_FAMILY_STATUS
column 15: NAME_HOUSING_TYPE
column 16: REGION_POPULATION_RELATIVE
column 17: DAYS_BIRTH
column 18: DAYS_EMPLOYED
column 19: DAYS_REGISTRATION
column 20: DAYS_ID_PUBLISH
column 21: OWN_CAR_AGE
column 22: FLAG_MOBIL
column 23: FLAG_EMP_PHONE
column 24: FLAG_WORK_PHONE
column 25: FLAG_CONT_MOBILE
column 26: FLAG_PHONE
column 27: FLAG_EMAIL
column 28: OCCUPATION_TYPE
column 29: CNT_FAM_MEMBERS
column 30: REGION_RATING_CLIENT
column 31: REGION_RATING_CLIENT_W_CITY
column 32: WEEKDAY_APPR_PROCESS_START
column 33: HOUR_APPR_PROCESS_START
column 34: REG_REGION_NOT_LIVE_REGION
column 35: REG_REGION_NOT_WORK_REGION
column 36: LIVE_REGION_NOT_WORK_REGION
column 37: REG_CITY_NOT_LIVE_CITY
column 38: REG_CITY_NOT_WORK_CITY
column 39: LIVE_CITY_NOT_WORK_CITY
column 40: ORGANIZATION_TYPE
column 41: EXT_SOURCE_1
column 42: EXT_SOURCE_2
column 43: EXT_SOURCE_3
column 44: APARTMENTS_AVG
column 45: BASEMENTAREA_AVG
column 46: YEARS_BEGINEXPLUATATION_AVG
column 47: YEARS_BUILD_AVG
column 48: COMMONAREA_AVG
column 49: ELEVATORS_AVG
column 50: ENTRANCES_AVG
column 51: FLOORSMAX_AVG
column 52: FLOORSMIN_AVG
column 53: LANDAREA_AVG
column 54: LIVINGAPARTMENTS_AVG
column 55: LIVINGAREA_AVG
column 56: NONLIVINGAPARTMENTS_AVG
column 57: NONLIVINGAREA_AVG
column 58: APARTMENTS_MODE
column 59: BASEMENTAREA_MODE
column 60: YEARS_BEGINEXPLUATATION_MODE
column 61: YEARS_BUILD_MODE
column 62: COMMONAREA_MODE
column 63: ELEVATORS_MODE
column 64: ENTRANCES_MODE
column 65: FLOORSMAX_MODE
column 66: FLOORSMIN_MODE
column 67: LANDAREA_MODE
column 68: LIVINGAPARTMENTS_MODE
column 69: LIVINGAREA_MODE
column 70: NONLIVINGAPARTMENTS_MODE
column 71: NONLIVINGAREA_MODE
column 72: APARTMENTS_MEDI
column 73: BASEMENTAREA_MEDI
column 74: YEARS_BEGINEXPLUATATION_MEDI
column 75: YEARS_BUILD_MEDI
column 76: COMMONAREA_MEDI
column 77: ELEVATORS_MEDI
column 78: ENTRANCES_MEDI
column 79: FLOORSMAX_MEDI
column 80: FLOORSMIN_MEDI
column 81: LANDAREA_MEDI
column 82: LIVINGAPARTMENTS_MEDI
column 83: LIVINGAREA_MEDI
column 84: NONLIVINGAPARTMENTS_MEDI
column 85: NONLIVINGAREA_MEDI
column 86: FONDKAPREMONT_MODE
column 87: HOUSETYPE_MODE
column 88: TOTALAREA_MODE
column 89: WALLSMATERIAL_MODE
column 90: EMERGENCYSTATE_MODE
column 91: OBS_30_CNT_SOCIAL_CIRCLE
column 92: DEF_30_CNT_SOCIAL_CIRCLE
column 93: OBS_60_CNT_SOCIAL_CIRCLE
column 94: DEF_60_CNT_SOCIAL_CIRCLE
column 95: DAYS_LAST_PHONE_CHANGE
column 96: FLAG_DOCUMENT_2
column 97: FLAG_DOCUMENT_3
column 98: FLAG_DOCUMENT_4
column 99: FLAG_DOCUMENT_5
column 100: FLAG_DOCUMENT_6
column 101: FLAG_DOCUMENT_7
column 102: FLAG_DOCUMENT_8
column 103: FLAG_DOCUMENT_9
column 104: FLAG_DOCUMENT_10
column 105: FLAG_DOCUMENT_11
column 106: FLAG_DOCUMENT_12
column 107: FLAG_DOCUMENT_13
column 108: FLAG_DOCUMENT_14
column 109: FLAG_DOCUMENT_15
column 110: FLAG_DOCUMENT_16
column 111: FLAG_DOCUMENT_17
column 112: FLAG_DOCUMENT_18
column 113: FLAG_DOCUMENT_19
column 114: FLAG_DOCUMENT_20
column 115: FLAG_DOCUMENT_21
column 116: AMT_REQ_CREDIT_BUREAU_HOUR
column 117: AMT_REQ_CREDIT_BUREAU_DAY
column 118: AMT_REQ_CREDIT_BUREAU_WEEK
column 119: AMT_REQ_CREDIT_BUREAU_MON
column 120: AMT_REQ_CREDIT_BUREAU_QRT
column 121: AMT_REQ_CREDIT_BUREAU_YEAR

#### 截取部分資料

In [13]:
# loc[前面控制rows,後面控制columns]
app_train.loc[:10, app_train.columns[0:5]]

    SK_ID_CURR  TARGET NAME_CONTRACT_TYPE CODE_GENDER FLAG_OWN_CAR
0       100002       1         Cash loans           M            N
1       100003       0         Cash loans           F            N
2       100004       0    Revolving loans           M            Y
3       100006       0         Cash loans           F            N
4       100007       0         Cash loans           M            N
5       100008       0         Cash loans           M            N
6       100009       0         Cash loans           F            Y
7       100010       0         Cash loans           M            Y
8       100011       0         Cash loans           F            N
9       100012       0    Revolving loans           M            N
10      100014       0         Cash loans           F            N

#### 還有各種數之不盡的資料操作，重點還是取決於實務中遇到的狀況和你想問的問題，在馬拉松中我們也會陸續提到更多例子